.h.d-flex
  .h-logo.d-flex.justify-space-between
    .h-logo__background
    .h-logo__side#left
    .h-logo__side#right
    img#logo(src="img/logo.svg")
  .h-text
    .h-text__container
      .h-text__string.--text(data-text="вривайся в гру") вривайся в гру
    .h-text__string.--text(data-text="з шикарним") з шикарним
    .h-text__string.--text(data-text="бонусом") бонусом
    .h-text__container
      .h-text__string.--text(data-text="з шикарним бонусом") з шикарним бонусом